version: '3.7'

services:
  mssql:
    container_name: mssql
    image: mcr.microsoft.com/mssql/server:2022-latest
    environment:
      - ACCEPT_EULA=Y
      - MSSQL_PID=Developer
      - MSSQL_SA_PASSWORD=teste#123
    ports:
      - "1434:1433"
    networks:
      - ssl-network

  app:
    container_name: rabbitmqproductapi
    image: rabbitmqproductapi
    build:
      context: .
      dockerfile: RabbitMqProductAPI/Dockerfile
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=https://+:443;http://+:80
      - ASPNETCORE_Kestrel__Certificates__Default__Password=102030xyz
      - ASPNETCORE_Kestrel__Certificates__Default__Path=/https/localhost.pfx
    ports:
      - "5101:80"
      - "6101:443"
    volumes:
      - ~/.aspnet/https:/https:ro
    depends_on:
      - mssql
    networks:
      - ssl-network

networks:
  ssl-network:
    driver: bridge